<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clase_II_Parcial.My.MySettings.CompuCenterConnectionString"
            connectionString="Data Source=DESKTOP-L87VDHJ;Initial Catalog=CompuCenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clase_II_Parcial.My.MySettings.TiendaConnectionString"
            connectionString="Data Source=DESKTOP-L87VDHJ;Initial Catalog=Tienda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>